h2 {
  padding-bottom: 1rem;
}

figcaption, .copyright {
  font-size: 0.9rem;text-align: center;color: gray;
}

a {
  text-decoration: underline;
}

table, tr, td, th {
  border: 1px solid black;
  padding: 5px;
  border-collapse: collapse;
}

table {
  width: 150%;
}

img.about {
  display: block;
  margin: 0 auto;
}

.post-card .card-meta {
  font-size: 0.9rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-meta-tag.small a {
  font-size: 0.8rem;
  letter-spacing: 0px;
  white-space: nowrap;
}

.card-body {
  p {
    text-align: left;
  }
}

.content {
  p {
    text-align: left;
  }
}

th {background: #EEE}
tr:nth-child(even) {background: #EEE}
tr:nth-child(odd) {background: #FFF}


.bgimage {
  width:100vw;
  height:83vh;
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

h1.hero {
  color: white;
  margin-bottom: 10%;
  font-size: 300%;
  text-shadow:1px 1px #333333;
}


.box {
  text-align: center;
}

.content figure {
  margin-bottom: 0 !important;
}

.gallery {
  margin-bottom: 1.5rem !important;
}

p.figcaption {
  text-align: center;
}
