figcaption, .copyright {
  font-size: 0.9rem;text-align: center;color: gray;
}

a {
  text-decoration: underline;
}

table, tr, td, th {
  border: 1px solid black;
  padding: 5px;
  border-collapse: collapse;
}

table {
  width: 150%;
}

img.about {
  display: block;
  margin: 0 auto;
}

th {background: #EEE}
tr:nth-child(even) {background: #EEE}
tr:nth-child(odd) {background: #FFF}