{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <!-- image path -->
        {{ $imagePath:= .Params.image }}
        <!-- image processing for multiple device -->
        {{ if fileExists (add `assets/` $imagePath) }}
        {{ $image:= resources.Get $imagePath }}
        <img loading="lazy" class="img-fluid rounded-circle mb-5" decoding="async" class="img-fluid w-100"
             src="{{$image.RelPermalink}}" alt="post image" width="{{$image.Width}}" height="{{$image.Height}}">
        {{ end }}
        <h2>{{ .Title }}</h2>
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
{{end}}

