<article class="card post-card mb-5">
  <a href="{{.RelPermalink}}">
    {{ with .Params.image }}
    {{ if fileExists (add `assets/` .) }}
    {{$image:= resources.Get . }}
    {{ $imageFallback:= $image.Resize "1110x" }}
    {{ $imageXL:= $image.Resize "1110x webp" }}
    {{ $imageLG:= $image.Resize "650x webp" }}
    {{ $imageMD:= $image.Resize "600x webp" }}
    {{ $imageSM:= $image.Resize "545x webp" }}
    <img loading="lazy" decoding="async" class="img-fluid w-100" src="{{$imageFallback.RelPermalink}}" alt="post image"
      width="{{$image.Width}}" height="{{$image.Height}}">
    {{end}}
    {{end}}
  </a>
  <div class="card-body">
    <h5 class="mt-3">
      <a class="post-title" href="{{.RelPermalink}}">{{.Title}}</a>
    </h5>

    <!-- only render if we have a date -->
    {{ if ( ge .PublishDate 0)}}
    <div class="card-meta">
      <em>{{.PublishDate.Format "Jan 2, 2006"}}</em>
      <em>by <a href="{{`/about/`}}" class="card-meta-author text-primary">{{site.Params.author}}</a></em>
    </div>
    {{end}}

    {{ if (not (isset .Params "description")) | or (eq .Params.description "") }}
    <p>{{.Summary}}</p>
    {{ else }}
    <p>{{.Params.description}}</p>
    {{end}}
    <div class="card-meta-tag small {{if .Params.featured}}featured{{end}}">
      {{ range .Params.categories }}
      <a href="{{`categories` | relURL}}/{{. | urlize | lower}}/">{{ . }}</a>
      {{ end }}
    </div>
  </div>
</article>
